*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* ### Primary */
  --grayishblue: hsl(237, 18%, 59%);
  --softred: hsl(345, 95%, 68%);

  /* ### Neutral */

  --lightwhite: hsl(0, 0%, 100%);
  --darkblue: hsl(236, 21%, 26%);
  --vdarkblue: hsl(235, 16%, 14%);
  --mdarkblue: hsl(234, 17%, 12%);
}
html, body {
  height: 100%;
  width: 100%;
}
body {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  background-color: var(--vdarkblue);
  background-image: url('./images/bg-stars.svg');
}

#root {
  width: 100%;
  height: 100%;
}

/* Reset */
ul {
  list-style: none
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}